@media screen  and (max-width: 1470px){
    header nav{
        width: 90%;
    }
}

@media screen and (max-width: 970px){
    header nav ul{
        display: none;
    }
    .button-menu{
        display: block;
        color: white;
        font-size: 28px;
    }
}

@media screen  and (max-width: 700px){
    
    header nav .logo{
        width: 70px;
        height: 70px;
    }
    header nav ul{
        display: none;
    }
    .container-bemvindo .bemvindo .tit{
        font-size: 25px;
    }
    .container-bemvindo .bemvindo p{
        font-size: 15px;
    }
    .button-menu{
        display: block;
        color: white;
        font-size: 28px;
    }

    .mapa{
        display: none;
    }

    footer .conteiner-informacoes{
        flex-direction: column;
    }
    footer .conteiner-informacoes div{
        padding: 0px 20px 0px;
        margin: 0px 0px 30px;
    }
    footer .conteiner-informacoes .logo p{
        font-size: 13px;
    }
    footer p{
        font-size: 13px;
    }
}