@media screen  and (max-width: 1470px){
    header nav{
        width: 90%;
    }
}

@media screen and (max-width: 970px){
    header nav ul{
        display: none;
    }
    .button-menu{
        display: block;
        color: white;
        font-size: 28px;
    }
    footer .conteiner-informacoes{
        flex-direction: column;
    }
    footer .conteiner-informacoes div{
        padding: 0px 20px 0px;
        margin: 0px 0px 30px;
    }
    footer .conteiner-informacoes .logo p{
        font-size: 13px;
    }
    footer p{
        font-size: 13px;
    }

    .service{
        width: 45%;
    }
}

@media screen and (max-width: 1148px){
    footer .conteiner-informacoes .logo p{
        font-size: 13px;
    }
    footer p{
        font-size: 13px;
    }
}

@media screen and (max-width: 1148px){
    .sobre-nos .descricao p{
        font-size: 11px;
    }
}

@media screen  and (max-width: 735px){
    
    header nav .logo{
        width: 70px;
        height: 70px;
    }
    header nav ul{
        display: none;
    }
    .container-bemvindo .bemvindo .tit{
        font-size: 25px;
    }
    .container-bemvindo .bemvindo p{
        font-size: 15px;
    }
    .button-menu{
        display: block;
        color: white;
        font-size: 28px;
    }

    .produtos #conteiner-produtos{
        padding: 0px 0px 100px;
    }
    .service{
        width: 45%;
        height: auto;
    }
    .service img{
        height: 200px;
    }
    .service .titulo-descricao{
        justify-content: center;
        height: auto;
    }
    .service h1{
        font-size: 20px;
    }
    .service p{
        display: none;
    }

    .sobre-nos{
        height: 40vh;
        margin: 0px 0px 100px;
    }
    .sobre-nos .descricao{
        width: 60%;
        padding: 5px;
    }
    .sobre-nos .descricao h1{
        font-size: 15px;
    }
    .sobre-nos .descricao p{
        font-size: 9px;
    }

    .mapa{
        display: none;
    }

    footer .conteiner-informacoes{
        flex-direction: column;
    }
    footer .conteiner-informacoes div{
        padding: 0px 20px 0px;
        margin: 0px 0px 30px;
    }
    footer .conteiner-informacoes .logo p{
        font-size: 13px;
    }
    footer p{
        font-size: 13px;
    }
}

@media screen  and (max-width: 375px){
    .sobre-nos{
        height: 55vh;
    }
}