@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prociono&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

.whatsapp,.icon-whatsapp{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 10;
}

header{
    height: 100vh;
    background-image: url("../images/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
header nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    position: relative;
    z-index: 10;
}
header nav .logo{
    width: 100px;
    height: 100px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: larger;
}
header nav ul li{
    cursor: pointer;
    font-weight: 200;
}
header nav ul .encomendar{
    width: 150px;
    height: 40px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    transition: 0.5s;
}
header nav ul .encomendar:hover{
    background-color: white;
    color:black;
}

header .container-bemvindo{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

body{
    background-color: rgb(250, 247, 247);
}

.container-bemvindo .bemvindo .tit{
    font-weight: 200;
    font-size: 60px;
}
.container-bemvindo .bemvindo p{
    margin: 0px 10px 0px;
}
.button-menu{
    display: none;
}


.titulo{
    padding: 100px 0px 0px;
    font-size: 45px;
    font-weight: 200;
    color: rgb(175, 131, 78);
}

.produtos{
    background-color: rgb(250, 247, 247);
    text-align: center;
}
.produtos #conteiner-produtos{
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.service{
    border-radius: 15px;
    width: 26%;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: rgb(175, 131, 78);
    cursor: pointer;
    background-color: white;
    margin: 100px 0px 0px;
}
.service img{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 70%;
    margin: 0px 0px 15px;
}
.service h1{
    font-weight: 400;
}
.service .titulo-descricao{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px 10px;
}
.service p{
    font-size: 13px;
}

.sobre-nos{
    width: 100%;
    height: 65vh;
    margin: 100px 0px 0px;
    display: flex;
    justify-content: center;
    background-image: url('../images/background-pao.png');
    background-position: bottom;
    background-size: cover;
    text-align: center;
}
.sobre-nos .descricao{
    width: 30%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sobre-nos .descricao h1{
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.sobre-nos .descricao button{
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: rgb(175, 131, 78);
    color: white;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 500;
}
.sobre-nos .descricao button:hover{
    background-color: rgb(134, 101, 61);
}
.sobre-nos .descricao p{
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.mapa{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 247, 247);
    flex-direction: column;
}
#map {
    height: 60%;
    width: 80%; 
}

footer{
    display: flex;
    flex-direction: column;
    padding: 60px 0px 0px;
    background-color: rgb(104, 76, 42);
    color: white;
}
footer .conteiner-informacoes{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px;
}
footer .conteiner-informacoes h1{
    font-weight: 200;
    padding: 0px 0px 20px;
}

footer .conteiner-informacoes .logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .conteiner-informacoes .logo img{
    width: 130px;
    margin: 0px 0px 20px;
}
footer .conteiner-informacoes .logo p{
    font-size: 15px;
}
footer .conteiner-informacoes .localizacao{
    display: flex;
    flex-direction: column;
}

footer .conteiner-informacoes .redes-sociais img{
    width: 30px;
    padding: 0px 0px 10px;
    margin-right: 8px;
}
footer .conteiner-informacoes .redes-sociais p{
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer .copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
footer .copyright p{
    font-size: 12px;
}

footer .hr{
    font-weight: 100;
}

